CL_PIMCargaPerArtículosMarketplace/Exposicion/recursos/xsd/inventario_resp.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:resp="http://www.socofar.cl/inventario"
            targetNamespace="http://www.socofar.cl/inventario/resp" elementFormDefault="qualified">
  <xsd:element name="Inventario_Response">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="codRetorno" type="xsd:integer"/>
        <xsd:element name="descRetorno" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
